*{
  font-family: 'Noto Sans JP', sans-serif;
}
header{
  height: 10%;
  width: 50%;
  margin: 0 auto;
  background-color: brown;
  text-align: center;
  h1{
    color:white;
    margin: 10px;
  }
}
main{
  width: 50%;
  margin: 0 auto;
  border: 1px solid #DDD;
}
